* {
    margin: 0px;
    font-family: "inter";
}
    #logo {
    margin: 50px;
    margin-top: 50px;
    }
    #texto_superior{
    margin-left: 150px;
    margin-top: 50px;
    }
    #texto_abaixo{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
    }
    #menu_superior{
    background-color: black;
    background-image: url(imagens/fundo-menu-superior.svg);
    color: aliceblue;
    }
    #menu_informacional{
    background-color: #eaece5;
    display:grid;
    grid-auto-flow: column;
    columns: auto;
    }
    .icone {     
    margin: 50px 0px 50px 100px;
    padding: 25px;
    }
     #secaovideo {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
     }
    .textoinformativo{
    display: flex;
    align-items: center;
    }
    #titulovideo{
    color: #247BA0;
    margin-top: 50px;
    }
    #textovideo{
    color: #247BA0;  
    }
    #video{
    margin: 50px 25px 50px 100px;
    }
    #carrosel{
    background-color:#247BA0;
    padding: 100px;
    }
    #titulocarrosel{
    color:white ;
    text-align: center;
    font-size: 25px;
    }
    #div-cards{
        display: grid;
        grid-auto-flow: column;
        margin-top: 25px;
    }
    .cards{
        margin-left: 50px;
    }
    #seta-esquerda{
    display: none;
    }
    #bruna{
    display: none;
    }
    .seta{
    margin-top: 55px;
    margin-left: 45px;
    cursor: pointer;
    }
    .seta:hover{
    transform: translateY(-7px);
    transition: duration 0.5s; 
    }
    #formulario{
    text-align: center;
    }
    #titulo-formulario{
        font-size: 25px;
        margin: 25px;
        color: #383838;
    }
    input{
    width: 300px; ;
    height: 40px;
    background-color: #eaece5;
    margin: 10px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
    }
    button{
    background-color: #247BA0;
    width: 250px; ;
    height: 40px; 
    color: #eaece5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
    }
    button:hover {
    background-color: #247BA0;
    color: white;
    transform: translateY(-7px); 
    font-weight: bolder;
    box-shadow: 0px 15px 20px #181e2083;
    transition-duration: 0,5s;
    }